{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Hi {{user}} !</title>
    <style>
        .success-message{
            display:inline-block;
        }
    </style>
</head>
<body>
    <div class="homepage">
        Hi {{user}} ! 😀<br>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="update-profile-section">
            {% if message %}
            <div class="success-message">{{message}}</div>
            {% endif %}
            <br>
            <div class="update-profile-title">
                <span id="profileTitle">Your Account Data</span>
                <span class="hidden" id="editTitle">Edit Your Data</span>
                <span id="editButton"><i class="fas fa-pencil-alt"></i></span>
            </div>
            <div class="update-profile-item">
                <h5 class="input-title">Full Name</h5>
                <h5 class="input-data" id="nameShow">{{user_data.name}}</h5>
                <input type="text" class="input hidden" name="name" value="{{user_data.name}}" required>
            </div>
            <div class="update-profile-item">
                <h5 class="input-title">Profile Photo URL</h5>
                <img class="input-data photo-user" id="photoShow" src="{{user_data.photo_url}}">
                <input type="file" class="input hidden" name="photo" value="{{user_data.photo_url}}">
            </div>
            <div class="update-profile-item">
                <h5 class="input-title">Birth Date</h5>
                <h5 id="birthShow" class="input-data">{{user_data.birth_date|date:'d F Y'}}</h5>
                <input type="text" id="flatpickr" class="input hidden" name="birth_date" required>
            </div>
            <div class="update-profile-item">
                <h5 class="input-title">LINE ID</h5>
                <h5 id="lineShow" class="input-data">{{user_data.line_id}}</h5>
                <input type="text" class="input hidden" name="line_id" value="{{user_data.line_id}}" required>
            </div>
            <button type="submit" id="saveButton" class="main-button save-button hidden">Save Data</button>
        </div>
    </form>
        <br>
        Don't forget to logout
        <a href="/logout"><button class="main-button logout-button">Logout </button></a>
    </div>
    <script>
        var e = flatpickr('#flatpickr',{
            dateFormat: 'd F Y',
            allowInput: true 
        });

        $('#editButton').on('click', function(){
            $(this).addClass('hidden');
            $('#profileTitle').addClass('hidden');
            $('#editTitle').removeClass('hidden');
            $('#saveButton').removeClass('hidden');
            $('.input').removeClass('hidden');
            $('.input-data').addClass('hidden');
        })

        $('#saveButton').on('click', function(){
            data = {};
            $('.input').each(function(index, elem){
                data[$(elem).attr('name')] = $(elem).val();
            })
            $.ajax({
                type: 'POST',
                url: '/api/v1/edit/',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data, textStatus, jqXHR){
                    if (data.status == 200){
                        $('.success-message').html(data.message);
                        $('.success-message').css('display', 'inline-block');
                        $('#editButton').removeClass('hidden');
                        $('#profileTitle').removeClass('hidden');
                        $('#editTitle').addClass('hidden');
                        $('#saveButton').addClass('hidden');
                        $('.input').addClass('hidden');
                        $('.input-data').removeClass('hidden');
                        $('#nameShow').html($('.input[name="name"]').val());
                        $('#photoShow').attr('src', $('.input[name="photo_url"]').val());
                        $('#birthShow').html($('.input[name="birth_date"]').val());
                        $('#lineShow').html($('.input[name="line_id"]').val());
                    }else{
                        $('.error-message').html(data.message);
                        $('.error-message').css('display', 'inline-block');
                    }
                }
            })
        })
    </script>
</body>
</html>