{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Login Page</title>
</head>
<body>
    <div class="main-login">
        <div class="login-section">
            <div id="logIn" class="auth-section">
                <h1 class="login-header">Log in to your account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" name="username" autocomplete="off">
                        <img src="{% static 'at.png' %}" class="input-icon">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" name="password">
                        <img src="{% static 'lock.png' %}" class="input-icon">
                    </div>
                </div>
                <button class="main-button" id="logInButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Log In</div>
                </button>
                <a id="createAccountLink" class="create-new">Don't have an account? Create an account</a>
            </div>
            <div id="signUp" class="auth-section hide">
                <h1 class="login-header">Create new account</h1>
                <div class="error-message"></div>
                <div class="success-message"></div>
                <div class="label-group">
                    <label class="input-label">Username</label>
                    <div class="input-group">
                        <input type="text" placeholder="Type your username" class="input" name="s_username" autocomplete="off">
                        <img src="{% static 'at.png' %}" class="input-icon">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Email</label>
                    <div class="input-group">
                        <input type="email" placeholder="josh@example.com" class="input" name="s_email">
                        <img src="{% static 'mail.png' %}" class="input-icon">
                    </div>
                </div>
                <div class="label-group">
                    <label class="input-label">Password</label>
                    <div class="input-group">
                        <input type="password" placeholder="Type your password" class="input" name="s_password">
                        <img src="{% static 'lock.png' %}" class="input-icon">
                    </div>
                </div>
                <div class="password-strength">
                    Password Strength Tips
                    <div class="password-strength-item base" id="psLength">
                        <div class="password-strength-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        Must between 8 -64 character
                    </div>
                    <div class="password-strength-item base" id="psNumber">
                        <div class="password-strength-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        Include any number
                    </div>
                    <div class="password-strength-item base" id="psUpperLower">
                        <div class="password-strength-icon">
                            <i class="fas fa-check"></i>
                        </div>
                        Include uppercase and lowercase alphabet
                    </div>
                </div>
                <button class="main-button" id="signUpButton">
                    <div class="lds-ring loading-hide"><div></div><div></div><div></div><div></div></div>
                    <div class="button-inner">Sign Up</div>
                </button>
                <a id="loginLink" class="create-new">Already have account ? click here to login</a>
            </div>
        </div>
        <div class="content-section">
            <img src="{% static 'hand.gif' %}" class="hand">
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>