body {
    margin: 0px;
}

body, div, h1, h2, h3, h4, h5, span, a, button, input {
    font-family: 'Montserrat', sans-serif;
}

.main-login {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.content-section {
    background-color: #ffe866;
    width: 62vw;
    position: fixed;
    right: 0px;
    top: 0px;
}

.login-header {
    margin-bottom: 20px;
}

.login-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 60px;
    padding-top: 50px;
    padding-bottom: 0px;
}

.input-label {
    font-weight: 500;
}

.label-group {
    margin-top: 14px;
    margin-bottom: 14px;
}

.input {
    padding: 10px;
    border-width: 0px;
    width: 100%;
    font-weight: 700;
    color: gray;
}

.label-group:focus-within .input-label {
    font-weight: 700;
}

.input-group {
    border-radius: 2px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s;
}

.input-group:focus-within {
    border-color: #ffe001;
    border-bottom-width: 3px;
}

.input-icon {
    height: 17px;
}

.main-button {
    margin-top: 40px;
    width: 80%;
    background-color: #ffe001;
    padding: 15px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
    display: block;
}

.main-button:hover {
    background-color: rgb(255, 208, 0);
}

.hand {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    display: block;
}

.create-new {
    color: gray;
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
}

.auth-section {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    position: absolute;
    opacity: 1;
    visibility: visible;
    width: 400px;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.error-message {
    color: red;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(255, 239, 239);
    border-radius: 10px;
    display: none;
}

.success-message {
    color: green;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(234, 255, 234);
    border-radius: 10px;
    display: none;
}

.homepage {
    width: 50vw;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
}

.homepage-subtitle {
    font-size: 18px;
}

.logout-button {
    font-size: 16px;
}

.homepage a {
    text-decoration: none;
}

.loading-hide {
    display: none!important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 3px;
    border: 4px solid black;
    border-radius: 80%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.password-strength {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.password-strength-item {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: red;
}

.password-strength-item.base {
    color: black;
}

.password-strength-item.valid {
    color: green;
}

.password-strength-icon {
    color: green;
    display: none;
    margin-right: 5px;
}

.password-strength-item.valid .password-strength-icon {
    display: inline-block;
}

.update-profile-section {
    box-shadow: 0px 0px 10px rgba(129, 129, 129, 0.25);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    padding-top: 40px;
}

.update-profile-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
}

.update-profile-item:first-of-type {
    margin-top: 15px;
}

.update-profile-item h5 {
    font-weight: 400;
    ;
}

.update-profile-item input {
    width: 150px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
    height: max-content;
    margin: 10px;
}

.update-profile-item input:focus {
    border-color: #ffe001
}

.input-title {
    margin-right: 50px;
    font-weight: 600!important;
    width: 100px;
}

.save-button {
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    ;
}

.hidden {
    display: none;
}

.update-profile-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right:20px;
    margin-bottom:20px;
}

.update-profile-title svg{
    cursor: pointer;
}

.photo-user{
    height:150px;
    border-radius:20px
}